/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0;
  background: linear-gradient(-15deg, rgb(200, 10, 10), rgb(10, 220, 180));
  background-attachment: fixed;
}

div {
  float: left;
  width: 90px;
  height: 90px;
  border-radius: 100%;
}

section {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#wrapper {
  position: absolute;
  z-index: 1;
}

#overlay {
  position: fixed;
  z-index: 2;
}

#wrapper div {
  background-color: rgba(240, 10, 200, 0.7);
}

#overlay div {
  background-color: rgba(10, 200, 180, 0.6);
}