/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0;
  background: linear-gradient(-15deg, rgb(200, 10, 10), rgb(100, 230, 230));
  background-attachment: fixed;
}

div {
  float: left;
  width: 10%;
  height: 10%;
  border-radius: 100%;
}

section {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#wrapper {
  margin-left: -45px;
}

#overlay {
  position: fixed;
  z-index: 2;
}

#overlay div {
  opacity: 0.6
}